# Data School's top 25 pandas tricks ([video](https://www.youtube.com/watch?v=RlIiVeig3hc&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=34))

- Watch the [complete pandas video series](https://www.dataschool.io/easier-data-analysis-with-pandas/)
- Connect on [Twitter](https://twitter.com/justmarkham), [Facebook](https://www.facebook.com/DataScienceSchool/), and [LinkedIn](https://www.linkedin.com/in/justmarkham/)
- Subscribe on [YouTube](https://www.youtube.com/dataschool?sub_confirmation=1)
- Join the [email newsletter](https://www.dataschool.io/subscribe/)

## Table of contents

1. <a href="#1.-Show-installed-versions">Show installed versions</a>
2. <a href="#2.-Create-an-example-DataFrame">Create an example DataFrame</a>
3. <a href="#3.-Rename-columns">Rename columns</a>
4. <a href="#4.-Reverse-row-order">Reverse row order</a>
5. <a href="#5.-Reverse-column-order">Reverse column order</a>
6. <a href="#6.-Select-columns-by-data-type">Select columns by data type</a>
7. <a href="#7.-Convert-strings-to-numbers">Convert strings to numbers</a>
8. <a href="#8.-Reduce-DataFrame-size">Reduce DataFrame size</a>
9. <a href="#9.-Build-a-DataFrame-from-multiple-files-(row-wise)">Build a DataFrame from multiple files (row-wise)</a>
10. <a href="#10.-Build-a-DataFrame-from-multiple-files-(column-wise)">Build a DataFrame from multiple files (column-wise)</a>
11. <a href="#11.-Create-a-DataFrame-from-the-clipboard">Create a DataFrame from the clipboard</a>
12. <a href="#12.-Split-a-DataFrame-into-two-random-subsets">Split a DataFrame into two random subsets</a>
13. <a href="#13.-Filter-a-DataFrame-by-multiple-categories">Filter a DataFrame by multiple categories</a>
14. <a href="#14.-Filter-a-DataFrame-by-largest-categories">Filter a DataFrame by largest categories</a>
15. <a href="#15.-Handle-missing-values">Handle missing values</a>
16. <a href="#16.-Split-a-string-into-multiple-columns">Split a string into multiple columns</a>
17. <a href="#17.-Expand-a-Series-of-lists-into-a-DataFrame">Expand a Series of lists into a DataFrame</a>
18. <a href="#18.-Aggregate-by-multiple-functions">Aggregate by multiple functions</a>
19. <a href="#19.-Combine-the-output-of-an-aggregation-with-a-DataFrame">Combine the output of an aggregation with a DataFrame</a>
20. <a href="#20.-Select-a-slice-of-rows-and-columns">Select a slice of rows and columns</a>
21. <a href="#21.-Reshape-a-MultiIndexed-Series">Reshape a MultiIndexed Series</a>
22. <a href="#22.-Create-a-pivot-table">Create a pivot table</a>
23. <a href="#23.-Convert-continuous-data-into-categorical-data">Convert continuous data into categorical data</a>
24. <a href="#24.-Change-display-options">Change display options</a>
25. <a href="#25.-Style-a-DataFrame">Style a DataFrame</a>
26. <a href="#Bonus:-Profile-a-DataFrame">Bonus trick: Profile a DataFrame</a>

## Load example datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

## 1. Show installed versions

Sometimes you need to know the pandas version you're using, especially when reading the pandas documentation. You can show the pandas version by typing:

In [3]:
pd.__version__

'0.25.1'

But if you also need to know the versions of pandas' dependencies, you can use the `show_versions()` function:

In [4]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.4.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 0.25.1
numpy            : 1.16.5
pytz             : 2019.3
dateutil         : 2.8.0
pip              : 19.2.3
setuptools       : 41.4.0
Cython           : 0.29.13
pytest           : 5.2.1
hypothesis       : None
sphinx           : 2.2.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.1
lxml.etree       : 4.4.1
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.10.3
IPython          : 7.8.0
pandas_datareader: None
bs4              : 4.8.0
bottleneck       : 1.2.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.4.1
matplotlib       : 3.1.1
numexpr          : 2.7.0
odfpy            : None
openpyxl         : 3.0.0
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.1
sqlalchemy       : 1.3.9
tables           : 3.5.2
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.1

You can see the versions of Python, pandas, NumPy, matplotlib, and more.

That's pretty good, but if you also want non-numeric column names, you can coerce a string of letters to a list and then pass that list to the columns parameter:

In [6]:
pd.DataFrame(np.random.rand(4, 8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.377509,0.723528,0.002552,0.224197,0.437604,0.367842,0.412012,0.238316
1,0.202679,0.494512,0.258933,0.767651,0.797877,0.947774,0.820843,0.146379
2,0.712225,0.135333,0.775449,0.918216,0.559972,0.250746,0.498567,0.439381
3,0.503164,0.085778,0.036008,0.686513,0.642647,0.751816,0.484730,0.151761

## 6. Select columns by data type

Here are the data types of the drinks DataFrame:

In [7]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

Let's say you need to select only the numeric columns. You can use the `select_dtypes()` method:

In [8]:
drinks.select_dtypes(include='number').head()

   beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
0              0                0              0                           0.0
1             89              132             54                           4.9
2             25                0             14                           0.7
3            245              138            312                          12.4
4            217               57             45                           5.9

This includes both int and float columns.

You could also use this method to select just the object columns:

In [9]:
drinks.select_dtypes(include='object').head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

You can tell it to include multiple data types by passing a list:

In [10]:
drinks.select_dtypes(include=['number', 'object', 'category', 'datetime']).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

You can also tell it to exclude certain data types:

In [11]:
drinks.select_dtypes(exclude='number').head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

## 7. Convert strings to numbers

Let's create another example DataFrame:

In [12]:
df = pd.DataFrame({'col_one':['1.1', '2.2', '3.3'],
                   'col_two':['4.4', '5.5', '6.6'],
                   'col_three':['7.7', '8.8', '-']})
df

  col_one col_two col_three
0     1.1     4.4       7.7
1     2.2     5.5       8.8
2     3.3     6.6         -

These numbers are actually stored as strings, which results in object columns:

In [ ]:
df.dtypes

In order to do mathematical operations on these columns, we need to convert the data types to numeric. You can use the `astype()` method on the first two columns:

In [ ]:
df.astype({'col_one':'float', 'col_two':'float'}).dtypes

However, this would have resulted in an error if you tried to use it on the third column, because that column contains a dash to represent zero and pandas doesn't understand how to handle it.

Instead, you can use the `to_numeric()` function on the third column and tell it to convert any invalid input into `NaN` values:

In [13]:
pd.to_numeric(df.col_three, errors='coerce')

0    7.7
1    8.8
2    NaN
Name: col_three, dtype: float64

If you know that the `NaN` values actually represent zeros, you can fill them with zeros using the `fillna()` method:

In [ ]:
pd.to_numeric(df.col_three, errors='coerce').fillna(0)

Finally, you can apply this function to the entire DataFrame all at once by using the `apply()` method:

In [ ]:
df = df.apply(pd.to_numeric, errors='coerce').fillna(0)
df

This one line of code accomplishes our goal, because all of the data types have now been converted to float:

In [ ]:
df.dtypes

## 8. Reduce DataFrame size

pandas DataFrames are designed to fit into memory, and so sometimes you need to reduce the DataFrame size in order to work with it on your system.

Here's the size of the drinks DataFrame:

In [15]:
drinks.memory_usage()

Index                            128
country                         1544
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                       1544
dtype: int64

In [18]:
drinks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

In [17]:
x

You can see that it currently uses 30.4 KB.

If you're having performance problems with your DataFrame, or you can't even read it into memory, there are two easy steps you can take during the file reading process to reduce the DataFrame size.

The first step is to only read in the columns that you actually need, which we specify with the "usecols" parameter:

In [ ]:
cols = ['beer_servings', 'continent']
small_drinks = pd.read_csv('http://bit.ly/drinksbycountry', usecols=cols)
small_drinks.info(memory_usage='deep')

By only reading in these two columns, we've reduced the DataFrame size to 13.6 KB.

The second step is to convert any object columns containing categorical data to the category data type, which we specify with the "dtype" parameter:

In [ ]:
dtypes = {'continent':'category'}
smaller_drinks = pd.read_csv('http://bit.ly/drinksbycountry', usecols=cols, dtype=dtypes)
smaller_drinks.info(memory_usage='deep')

By reading in the continent column as the category data type, we've further reduced the DataFrame size to 2.3 KB.

Keep in mind that the category data type will only reduce memory usage if you have a small number of categories relative to the number of rows.

## 9. Build a DataFrame from multiple files (row-wise)

Let's say that your dataset is spread across multiple files, but you want to read the dataset into a single DataFrame.

For example, I have a small dataset of stock data in which each CSV file only includes a single day. Here's the first day:

In [ ]:
pd.read_csv('data/stocks1.csv')

Here's the second day:

In [ ]:
pd.read_csv('data/stocks2.csv')

And here's the third day:

In [ ]:
pd.read_csv('data/stocks3.csv')

You could read each CSV file into its own DataFrame, combine them together, and then delete the original DataFrames, but that would be memory inefficient and require a lot of code.

A better solution is to use the built-in glob module:

In [ ]:
from glob import glob

You can pass a pattern to `glob()`, including wildcard characters, and it will return a list of all files that match that pattern.

In this case, glob is looking in the "data" subdirectory for all CSV files that start with the word "stocks":

In [ ]:
stock_files = sorted(glob('data/stocks*.csv'))
stock_files

glob returns filenames in an arbitrary order, which is why we sorted the list using Python's built-in `sorted()` function.

We can then use a generator expression to read each of the files using `read_csv()` and pass the results to the `concat()` function, which will concatenate the rows into a single DataFrame:

In [ ]:
pd.concat((pd.read_csv(file) for file in stock_files))

Unfortunately, there are now duplicate values in the index. To avoid that, we can tell the `concat()` function to ignore the index and instead use the default integer index:

In [ ]:
pd.concat((pd.read_csv(file) for file in stock_files), ignore_index=True)

## 10. Build a DataFrame from multiple files (column-wise)

The previous trick is useful when each file contains rows from your dataset. But what if each file instead contains columns from your dataset?

Here's an example in which the drinks dataset has been split into two CSV files, and each file contains three columns:

In [ ]:
pd.read_csv('data/drinks1.csv').head()

In [ ]:
pd.read_csv('data/drinks2.csv').head()

Similar to the previous trick, we'll start by using `glob()`:

In [ ]:
drink_files = sorted(glob('data/drinks*.csv'))

And this time, we'll tell the `concat()` function to concatenate along the columns axis:

In [ ]:
pd.concat((pd.read_csv(file) for file in drink_files), axis='columns').head()

Now our DataFrame has all six columns.

## 11. Create a DataFrame from the clipboard

Let's say that you have some data stored in an Excel spreadsheet or a [Google Sheet](https://docs.google.com/spreadsheets/d/1ipv_HAykbky8OXUubs9eLL-LQ1rAkexXG61-B4jd0Rc/edit?usp=sharing), and you want to get it into a DataFrame as quickly as possible.

Just select the data and copy it to the clipboard. Then, you can use the `read_clipboard()` function to read it into a DataFrame:

In [ ]:
df = pd.read_clipboard()
df

Just like the `read_csv()` function, `read_clipboard()` automatically detects the correct data type for each column:

In [ ]:
df.dtypes

Let's copy one other dataset to the clipboard:

In [ ]:
df = pd.read_clipboard()
df

Amazingly, pandas has even identified the first column as the index:

In [ ]:
df.index

Keep in mind that if you want your work to be reproducible in the future, `read_clipboard()` is not the recommended approach.

## 12. Split a DataFrame into two random subsets

Let's say that you want to split a DataFrame into two parts, randomly assigning 75% of the rows to one DataFrame and the other 25% to a second DataFrame.

For example, we have a DataFrame of movie ratings with 979 rows:

In [ ]:
len(movies)

We can use the `sample()` method to randomly select 75% of the rows and assign them to the "movies_1" DataFrame:

In [ ]:
movies_1 = movies.sample(frac=0.75, random_state=1234)

Then we can use the `drop()` method to drop all rows that are in "movies_1" and assign the remaining rows to "movies_2":

In [ ]:
movies_2 = movies.drop(movies_1.index)

You can see that the total number of rows is correct:

In [ ]:
len(movies_1) + len(movies_2)

And you can see from the index that every movie is in either "movies_1":

In [ ]:
movies_1.index.sort_values()

...or "movies_2":

In [ ]:
movies_2.index.sort_values()

Keep in mind that this approach will not work if your index values are not unique.

## 13. Filter a DataFrame by multiple categories

Let's take a look at the movies DataFrame:

In [ ]:
movies.head()

One of the columns is genre:

In [ ]:
movies.genre.unique()

If we wanted to filter the DataFrame to only show movies with the genre Action or Drama or Western, we could use multiple conditions separated by the "or" operator:

In [ ]:
movies[(movies.genre == 'Action') |
       (movies.genre == 'Drama') |
       (movies.genre == 'Western')].head()

However, you can actually rewrite this code more clearly by using the `isin()` method and passing it a list of genres:

In [ ]:
movies[movies.genre.isin(['Action', 'Drama', 'Western'])].head()

And if you want to reverse this filter, so that you are excluding (rather than including) those three genres, you can put a tilde in front of the condition:

In [ ]:
movies[~movies.genre.isin(['Action', 'Drama', 'Western'])].head()

This works because tilde is the "not" operator in Python.

## 14. Filter a DataFrame by largest categories

Let's say that you needed to filter the movies DataFrame by genre, but only include the 3 largest genres.

We'll start by taking the `value_counts()` of genre and saving it as a Series called counts:

In [ ]:
counts = movies.genre.value_counts()
counts

The Series method `nlargest()` makes it easy to select the 3 largest values in this Series:

In [ ]:
counts.nlargest(3)

And all we actually need from this Series is the index:

In [ ]:
counts.nlargest(3).index

Finally, we can pass the index object to `isin()`, and it will be treated like a list of genres:

In [ ]:
movies[movies.genre.isin(counts.nlargest(3).index)].head()

Thus, only Drama and Comedy and Action movies remain in the DataFrame.

## 15. Handle missing values

Let's look at a dataset of UFO sightings:

In [ ]:
ufo.head()

You'll notice that some of the values are missing.

To find out how many values are missing in each column, you can use the `isna()` method and then take the `sum()`:

In [ ]:
ufo.isna().sum()

`isna()` generated a DataFrame of True and False values, and `sum()` converted all of the True values to 1 and added them up.

Similarly, you can find out the percentage of values that are missing by taking the `mean()` of `isna()`:

In [ ]:
ufo.isna().mean()

If you want to drop the columns that have any missing values, you can use the `dropna()` method:

In [ ]:
ufo.dropna(axis='columns').head()

Or if you want to drop columns in which more than 10% of the values are missing, you can set a threshold for `dropna()`:

In [ ]:
ufo.dropna(thresh=len(ufo)*0.9, axis='columns').head()

`len(ufo)` returns the total number of rows, and then we multiply that by 0.9 to tell pandas to only keep columns in which at least 90% of the values are not missing.

## 16. Split a string into multiple columns

Let's create another example DataFrame:

In [ ]:
df = pd.DataFrame({'name':['John Arthur Doe', 'Jane Ann Smith'],
                   'location':['Los Angeles, CA', 'Washington, DC']})
df

What if we wanted to split the "name" column into three separate columns, for first, middle, and last name? We would use the `str.split()` method and tell it to split on a space character and expand the results into a DataFrame:

In [ ]:
df.name.str.split(' ', expand=True)

These three columns can actually be saved to the original DataFrame in a single assignment statement:

In [ ]:
df[['first', 'middle', 'last']] = df.name.str.split(' ', expand=True)
df

What if we wanted to split a string, but only keep one of the resulting columns? For example, let's split the location column on "comma space":

In [ ]:
df.location.str.split(', ', expand=True)

If we only cared about saving the city name in column 0, we can just select that column and save it to the DataFrame:

In [ ]:
df['city'] = df.location.str.split(', ', expand=True)[0]
df

## 17. Expand a Series of lists into a DataFrame

Let's create another example DataFrame:

In [ ]:
df = pd.DataFrame({'col_one':['a', 'b', 'c'], 'col_two':[[10, 40], [20, 50], [30, 60]]})
df

There are two columns, and the second column contains regular Python lists of integers.

If we wanted to expand the second column into its own DataFrame, we can use the `apply()` method on that column and pass it the Series constructor:

In [ ]:
df_new = df.col_two.apply(pd.Series)
df_new

And by using the `concat()` function, you can combine the original DataFrame with the new DataFrame:

In [ ]:
pd.concat([df, df_new], axis='columns')

## 18. Aggregate by multiple functions

Let's look at a DataFrame of orders from the Chipotle restaurant chain:

In [ ]:
orders.head(10)

Each order has an order_id and consists of one or more rows. To figure out the total price of an order, you sum the item_price for that order_id. For example, here's the total price of order number 1:

In [ ]:
orders[orders.order_id == 1].item_price.sum()

If you wanted to calculate the total price of every order, you would `groupby()` order_id and then take the sum of item_price for each group:

In [ ]:
orders.groupby('order_id').item_price.sum().head()

However, you're not actually limited to aggregating by a single function such as `sum()`. To aggregate by multiple functions, you use the `agg()` method and pass it a list of functions such as `sum()` and `count()`:

In [ ]:
orders.groupby('order_id').item_price.agg(['sum', 'count']).head()

That gives us the total price of each order as well as the number of items in each order.

## 19. Combine the output of an aggregation with a DataFrame

Let's take another look at the orders DataFrame:

In [ ]:
orders.head(10)

What if we wanted to create a new column listing the total price of each order? Recall that we calculated the total price using the `sum()` method:

In [ ]:
orders.groupby('order_id').item_price.sum().head()

`sum()` is an aggregation function, which means that it returns a reduced version of the input data.

In other words, the output of the `sum()` function:

In [ ]:
len(orders.groupby('order_id').item_price.sum())

...is smaller than the input to the function:

In [ ]:
len(orders.item_price)

The solution is to use the `transform()` method, which performs the same calculation but returns output data that is the same shape as the input data:

In [ ]:
total_price = orders.groupby('order_id').item_price.transform('sum')
len(total_price)

We'll store the results in a new DataFrame column called total_price:

In [ ]:
orders['total_price'] = total_price
orders.head(10)

As you can see, the total price of each order is now listed on every single line.

That makes it easy to calculate the percentage of the total order price that each line represents:

In [ ]:
orders['percent_of_total'] = orders.item_price / orders.total_price
orders.head(10)

## 20. Select a slice of rows and columns

Let's take a look at another dataset:

In [ ]:
titanic.head()

This is the famous Titanic dataset, which shows information about passengers on the Titanic and whether or not they survived.

If you wanted a numerical summary of the dataset, you would use the `describe()` method:

In [ ]:
titanic.describe()

However, the resulting DataFrame might be displaying more information than you need.

If you wanted to filter it to only show the "five-number summary", you can use the `loc` accessor and pass it a slice of the "min" through the "max" row labels:

In [ ]:
titanic.describe().loc['min':'max']

And if you're not interested in all of the columns, you can also pass it a slice of column labels:

In [ ]:
titanic.describe().loc['min':'max', 'Pclass':'Parch']

## 21. Reshape a MultiIndexed Series

The Titanic dataset has a "Survived" column made up of ones and zeros, so you can calculate the overall survival rate by taking a mean of that column:

In [ ]:
titanic.Survived.mean()

If you wanted to calculate the survival rate by a single category such as "Sex", you would use a `groupby()`:

In [ ]:
titanic.groupby('Sex').Survived.mean()

And if you wanted to calculate the survival rate across two different categories at once, you would `groupby()` both of those categories:

In [ ]:
titanic.groupby(['Sex', 'Pclass']).Survived.mean()

This shows the survival rate for every combination of Sex and Passenger Class. It's stored as a MultiIndexed Series, meaning that it has multiple index levels to the left of the actual data.

It can be hard to read and interact with data in this format, so it's often more convenient to reshape a MultiIndexed Series into a DataFrame by using the `unstack()` method:

In [ ]:
titanic.groupby(['Sex', 'Pclass']).Survived.mean().unstack()

This DataFrame contains the same exact data as the MultiIndexed Series, except that now you can interact with it using familiar DataFrame methods.

## 22. Create a pivot table

If you often create DataFrames like the one above, you might find it more convenient to use the `pivot_table()` method instead:

In [ ]:
titanic.pivot_table(index='Sex', columns='Pclass', values='Survived', aggfunc='mean')

With a pivot table, you directly specify the index, the columns, the values, and the aggregation function.

An added benefit of a pivot table is that you can easily add row and column totals by setting `margins=True`:

In [ ]:
titanic.pivot_table(index='Sex', columns='Pclass', values='Survived', aggfunc='mean',
                    margins=True)

This shows the overall survival rate as well as the survival rate by Sex and Passenger Class.

Finally, you can create a cross-tabulation just by changing the aggregation function from "mean" to "count":

In [ ]:
titanic.pivot_table(index='Sex', columns='Pclass', values='Survived', aggfunc='count',
                    margins=True)

This shows the number of records that appear in each combination of categories.

## 23. Convert continuous data into categorical data

Let's take a look at the Age column from the Titanic dataset:

In [ ]:
titanic.Age.head(10)

It's currently continuous data, but what if you wanted to convert it into categorical data?

One solution would be to label the age ranges, such as "child", "young adult", and "adult". The best way to do this is by using the `cut()` function:

In [ ]:
pd.cut(titanic.Age, bins=[0, 18, 25, 99], labels=['child', 'young adult', 'adult']).head(10)

This assigned each value to a bin with a label. Ages 0 to 18 were assigned the label "child", ages 18 to 25 were assigned the label "young adult", and ages 25 to 99 were assigned the label "adult".

Notice that the data type is now "category", and the categories are automatically ordered.

## 24. Change display options

Let's take another look at the Titanic dataset:

In [ ]:
titanic.head()

Notice that the Age column has 1 decimal place and the Fare column has 4 decimal places. What if you wanted to standardize the display to use 2 decimal places?

You can use the `set_option()` function:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

The first argument is the name of the option, and the second argument is a Python format string.

In [ ]:
titanic.head()

You can see that Age and Fare are now using 2 decimal places. Note that this did not change the underlying data, only the display of the data.

You can also reset any option back to its default:

In [ ]:
pd.reset_option('display.float_format')

There are many more options you can specify is a similar way.

## 25. Style a DataFrame

The previous trick is useful if you want to change the display of your entire notebook. However, a more flexible and powerful approach is to define the style of a particular DataFrame.

Let's return to the stocks DataFrame:

In [ ]:
stocks

We can create a dictionary of format strings that specifies how each column should be formatted:

In [ ]:
format_dict = {'Date':'{:%m/%d/%y}', 'Close':'${:.2f}', 'Volume':'{:,}'}

And then we can pass it to the DataFrame's `style.format()` method:

In [ ]:
stocks.style.format(format_dict)

Notice that the Date is now in month-day-year format, the closing price has a dollar sign, and the Volume has commas.

We can apply more styling by chaining additional methods:

In [ ]:
(stocks.style.format(format_dict)
 .hide_index()
 .highlight_min('Close', color='red')
 .highlight_max('Close', color='lightgreen')
)

We've now hidden the index, highlighted the minimum Close value in red, and highlighted the maximum Close value in green.

Here's another example of DataFrame styling:

In [ ]:
(stocks.style.format(format_dict)
 .hide_index()
 .background_gradient(subset='Volume', cmap='Blues')
)

The Volume column now has a background gradient to help you easily identify high and low values.

And here's one final example:

In [ ]:
(stocks.style.format(format_dict)
 .hide_index()
 .bar('Volume', color='lightblue', align='zero')
 .set_caption('Stock Prices from October 2016')
)

There's now a bar chart within the Volume column and a caption above the DataFrame.

Note that there are many more options for how you can style your DataFrame.

## Bonus: Profile a DataFrame

Let's say that you've got a new dataset, and you want to quickly explore it without too much work. There's a separate package called [pandas-profiling](https://github.com/pandas-profiling/pandas-profiling) that is designed for this purpose.

First you have to install it using conda or pip. Once that's done, you import `pandas_profiling`:

In [ ]:
import pandas_profiling

Then, simply run the `ProfileReport()` function and pass it any DataFrame. It returns an interactive HTML report:

- The first section is an overview of the dataset and a list of possible issues with the data.
- The next section gives a summary of each column. You can click "toggle details" for even more information.
- The third section shows a heatmap of the correlation between columns.
- And the fourth section shows the head of the dataset.

In [ ]:
pandas_profiling.ProfileReport(titanic)